@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  margin: 100px;
  text-align: center;
  }

.row {
  padding: 0 340px;
}

.task {
  margin: 0 auto;
  height: 200px;
  width: 460px;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
}

.item {
  display: block;
  padding: 0.3em;
}

